<div class='index-post-content'>
  <% posts.each do |post|%>
    <div class='index-contents'>
      <%= link_to image_tag(post.movie_main_thumbnail, class:'index-thumbnail'), post_path(post.id) %>
      <% if post.message.present? %>
        <div class='index-message-box'> 
          <%= link_to post.message, post_path(post.id), class:'index-message-content' %>
        </div>
      <% end %>
      <div class='movie-tag-list'>
        関連タグ：
          <% post.movie_tags.each do |tag| %>
            <%= tag.movie_tag_name if tag.present? %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>