<div class="index-post-content">
  <% posts.each do |post|%>
    <div class="index-contents">
      <div class="index-thumbnail-parent">
        <%= link_to image_tag(post.movie_main_thumbnail), post_path(post.id), class:"index-thumbnail-child" %>
      </div>
      <div class="index-message-box"> 
        <div >
          <%= link_to post.message, post_path(post.id), class:"index-message-content" %>
        </div>
      </div>
    </div>
  <% end %>
</div>