<% talent_tag=['かわいい', 'かっこいい', 'おもしろい', '歌がうまい', 'ゲームがうまい', '眼鏡キャラ', 'ケモ耳'] %>

<div>
  <p class='tag-list-title'>VTuberタグ例(クリックで入力できます)</p>
  <div class='all-tag-lists'>
    <% talent_tag.each do |tag| %>
      <div class='talent-tag-contents'><%= tag %></div>
    <% end %>
  </div>
</div>