<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel %>
  </li>
<% else %>
  <li class='non-active'>
    <%= link_to page, url, remote: remote, rel: page.rel %>
  </li>
<% end %>
