a {
  text-decoration: none;
}

ul{
  list-style: none;
}

.hidden{
  display: none;
}

/* shared */

.user-image{
  width: 72px;
  height: 72px;
  border-radius: 36px;
  overflow: hidden;
}

.user-image-name{
  display: flex;
  align-items: center;
}