a {
  text-decoration: none;
}

ul{
  list-style: none;
}

.hidden{
  display: none;
}

.flash-alert{
  background-color: darkorange;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.call-title{
  margin-left: clamp(10px, 2%, 48px);
}
/* shared */

.user-image-name{
  display: flex;
  align-items: center;
}

.user-image{
  width: 72px;
  height: 72px;
  border-radius: 36px;
  overflow: hidden;
}

.page-change{
  display: flex;
  justify-content: center;
}