.form-position{
margin: 0 0 24px 5%;
}

.login-form{
  width: 400px;
  margin: 0 auto;
}

.search-form{
  width: 95%;
  margin: 0 auto;
}

.search-group{
  display: flex;
}

.sign-in-title{
  text-align: center;
}

.input-style{
  font-size: 16px;
  border-radius: 5px;
  border:2px solid #CC6666;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline:0;
}

.input-style:focus {
  background-color: #ffe8ff;
}

.url-input{
  width: clamp(100px, 90%, 700px);
}

.short-input{
  width: clamp(100px, 90%, 400px);
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-left: 16px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #4ab79b;
  color: #fff;
  font-size: 14px;
}

.Form-Item-Label-Any {
  border: 1px solid #6666ff;
  border-radius: 6px;
  margin-left: 16px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  color: black;
  font-size: 14px;
}

.movie_preview_content{
  display: flex;
}

.post-btn{
  width: 88px;
  height: 32px;
}

.comment-input{
  width: clamp(100px, 90%, 600px);
  height: 128px;
}

.tag-list{
  margin-left: 16px;
}

.all-tag-lists{
  display: flex;
  flex-wrap:wrap;
}

.talent-tag-contents, .movie-tag-contents{
  padding: 8px;
  margin-bottom: 12px;
  margin-right: 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: #dddddd;
  border-radius: 3px;
  overflow: hidden;
  cursor:pointer
}

@media (max-width: 1100px) {
  .movie_preview_content{
    flex-direction: column;
  }
}