.header-contents{
  width: 100%;
  height: 100px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vlinker-logo{
  width: 120px;
  height: 95px;
  margin-top: 3px;
  margin-left: 40px;
  border: 1px black solid;
}

.lists-left{
  display: flex;
  justify-content: space-around;
}

.search-bt{
  width: 200px;
  height: 30px;
  background-color: lightgray;
}

.lists-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}

.user-image{
  width: 72px;
  height: 72px;
  border-radius: 36px;
  overflow: hidden;
}

.user-manage{
  width: 200px;
  height: 30px;
  border: 1pt black;
}