.index-title{
  margin-left: clamp(10px, 2%, 48px);
}

.index-post-content{
  display: flex;
  flex-wrap:wrap;
}

.index-contents{
  margin-top: 20px;
  margin-left: clamp(1px, 1vw, 40px);
  margin-right: clamp(1px, 1vw, 40px);
}

.index-thumbnail{
  width: clamp(240px, 30vw ,640px);
  height: clamp(90px, calc(30vw/ 16 * 9), 360px);
  object-fit: cover;
}

.index-message-box{
  width: clamp(240px, 30vw , 640px);
  height: 48px;
}

.index-message-content{
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: black;
}

.movie-tag-list{
  width: clamp(240px, 30vw ,640px);
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 20px;
}

 /* スマホ表示時 */
 @media (max-width: 799px) {
  .index-thumbnail{
    width: clamp(100px, 48vw ,640px);
    height: clamp(90px, calc(48vw/ 16 * 9), 360px);
    object-fit: cover;
  }
  
  .index-message-box{
    width: clamp(100px, 48vw , 640px);
    height: 48px;
  }
  
  .movie-tag-list{
    width: clamp(100px, 48vw ,640px);
    font-size: 16px;
    line-height: 24px;
    margin-top: 4px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .index-title{
    margin-left: 1vw;
    font-size: 24px;
  }
}