.pagination{
  display: flex;
  flex-wrap:wrap;
  row-gap: 24px;
}

.pagination>li>a {
  background-color: #dddddd;
  color: #000000;
  padding: 4px 11px 4px 11px;
  margin: 4px;
  border-radius: 15px;
}

.pagination>.non-active>a:hover {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 70px;
}

.pagination>.active>a {
  background: #82b8ff;
  border-radius: 15px;
}