.user-show{
  display: flex;
  align-items: center;
  margin-top: 24px;
}

#user-image-edit{
  cursor:pointer
}

.user-profile{
display: flex;
align-items: center;
margin: 0 64px;
}

.user-comment{
  display: flex;
  align-items: center;
}

.user-comment-content{
  width: 600px;
  line-height: 24px;
  font-size: 16px;
  overflow-wrap: anywhere;
}
